{% extends 'base.html.twig' %}
{% trans_default_domain 'home' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>LibreMusic</h1>
<p>{{'existing_account'|trans}}</p>
<a href="{{path('app_login')}}">Login</a>
<p>{{'no_account'|trans}}</p>
<a href="app_register">{{'register'|trans}}</a>\
<img src='./build/mc.png'/>
{% endblock %}
